
{{#if toiletsArray}}
    {{#each toiletsArray}}
        <section class="listItem">
          <div class="listItem--onsameline">
            <p class="p1">{{name}}</p>
            <p>{{distance}}</p>
          </div>
            {{#if customer_toilet}}
            <p class="listItem--grey">Customer toilet</p>
            {{else}}
            <p class="listItem--grey">Public toilet</p>
            {{/if}}
            <div class="listItem--onsameline">
            <a class="mapLink" href="{{map_link}}" target="_blank"><p>{{address}}</p></a>
            <section class="listItem__icon--container">
                {{#if accessible}}
                    <span class="listItem__icon listItem__accessible" title="Accessible Icon"></span>
                {{/if}}

                {{#if baby_changing}}
                    <span class="listItem__icon listItem__baby" title="Baby Changing Icon"></span>
                {{/if}}

                {{#if probable}}
                    <span class="listItem__icon listItem__probablyFree" title="Probably Free Icon"></span>
                {{/if}}

                {{#if definite}}
                    <span class="listItem__icon listItem__definitelyFree" title="Definitely Free Icon"></span>
                {{/if}}



                {{#if gender_neutral}}
                    <span class="listItem__icon listItem__genderNeutral" title="Gender Neutral Icon"></span>
                {{/if}}
            </section>
            </div>
        </section>
    {{/each}}
{{else}}
    <section class="listItem">
        <p class='p2'> Sorry, we couldn't find any toilets matching that criteria. </p>
    </section>
{{/if}}
